{% extends 'articles/base.html' %}
{% load static %}
<script src="{% static "js/ajax.js" %}"></script>
{% block title %}
Статьи
{% endblock %}
{% block content %}

    <h3>popka</h3>

{#    <img src="{% static 'image.jpg' %}"#}
    {% if article_list %}
        {% for article in article_list %}
            <h3><a href="{{ article.get_absolute_url }}">{{ article.title }}</a></h3><br>
            {{ article.description }}<br>
            {% if article.img %}
            <img src="{{ article.img.url }}" height="100">
            {% endif %}
        {% endfor %}
    {% else %}
        Статей пока нет
        <h4><a href="#">Создать</a></h4>
    {% endif %}
{% endblock %}